<launch>
    <arg name="rviz" default="false" />

    <include file="$(find study_course)/launch/turtlebot3_sim_start.launch" />
    <include file="$(find study_course)/launch/turtlebot3_my_gmapping.launch" />

    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find study_course)/rviz/sim_mapping.rviz" />    
</launch>